
//  #Main_Slide-9 .achievementScreen-container_avatar01_fail
//  {
//     background-image: url(../images/Mission01_avatar01_fail_thumbnail.png);
// }
//  #Main_Slide-9 .achievementScreen-container_avatar01_win
//  {
//     background-image: url(../images/Mission01_avatar01_win_thumbnail.png);
// }
//  #Main_Slide-9 .achievementScreen-container_avatar02_fail
//  {
//     background-image: url(../images/Mission01_avatar02_fail_thumbnail.png);
// }
//  #Main_Slide-9 .achievementScreen-container_avatar02_win
//  {
//     background-image: url(../images/Mission01_avatar02_win_thumbnail.png);
// }

//  #Main_Slide-12 .achievementScreen-container_avatar01_fail
//  {
//     background-image: url(../images/Mission02_avatar01_fail_thumbnail.png);
// }
//  #Main_Slide-12 .achievementScreen-container_avatar01_win
//  {
//     background-image: url(../images/Mission02_avatar01_win_thumbnail.png);
// }
//  #Main_Slide-12 .achievementScreen-container_avatar02_fail
//  {
//     background-image: url(../images/Mission02_avatar02_fail_thumbnail.png);
// }
//  #Main_Slide-12 .achievementScreen-container_avatar02_win
//  {
//     background-image: url(../images/Mission02_avatar02_win_thumbnail.png);
// }


//  #Main_Slide-15 .achievementScreen-container_avatar01_fail
//  {
//     background-image: url(../images/Mission03_avatar01_fail_thumbnail.png);
// }
//  #Main_Slide-15 .achievementScreen-container_avatar01_win
//  {
//     background-image: url(../images/Mission03_avatar01_win_thumbnail.png);
// }
//  #Main_Slide-15 .achievementScreen-container_avatar02_fail
//  {
//     background-image: url(../images/Mission03_avatar02_fail_thumbnail.png);
// }
//  #Main_Slide-15 .achievementScreen-container_avatar02_win
//  {
//     background-image: url(../images/Mission03_avatar02_win_thumbnail.png);
// }


.achievementScreen-container {
    position: relative;
    height: 1080px !important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    height: 100% !important;
    // background-image: url(../../../container/images/layout_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;

    .achievementScreen-content{
        font-family: var(--AbdoLineRegular);
        font-size: 30px;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        padding: 0;
        justify-content: center;
        align-items: center;
        .characterAnimation{
            position: absolute;
            bottom: 175px;
            right: 20px;
            width: 400px;
            height: 400px;
        }
    }
}
.yellowText{
    color: #ffb333;
}
.achievementScreen-content {

    .teamSelectedAvatar {
        position: relative;
        display: flex;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
    }
    .avatarImageNameHolder {
        position: absolute;
        bottom: 1px;
    }
img.selected-avatar-image {
    width: 120px;
    height: 120px;
    border: 3px solid #00536b;
    border-radius: 50%;
    background-color: #99e2f7;
}

    .UserNameText {
        background: transparent;
        border: none;
        color: white;
    }
    .teamSelectedScore {
        /* width: 196px; */
        /* height: 196px; */
        transform: scale(1.6);
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    // circle {
    //     stroke: #70bf42;
    // }

    .lessonTitleHolder{
        background-image: url(../images/splshPopup.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
         width: 845px;
        height: 8687px;
        position: relative;
        padding: 0 60px;
       margin-top: 80px;
        &.last{
            background-image: url(../images/splash-final.png);
            .achievementScreen-content-titles{
                height: calc(100% - 180px);
            }
        }
    }
    // .teamImageMainDiv{
    //     margin-top: 140px;
    // }
    .startLessonBtnHolder{
        margin-top: 87px;
    }
}


    .lessonTitle{
        font-size: 70px;
    }

    .teamImageMainDiv{
        margin-top: 0px;
    }
.achievementScreen-content-wrapper  button.startLessonBtn {
    border: 6px solid #70BF42;
    border-radius: 51px;
    background-color: #D4EBC6;
    height: 103px;
    width: 222px;
    color: #2D4C1A;
    font-size: 65px;
    font-family: var(--AbdoLineBold);
    box-shadow: 0 4px rgba(72, 84, 101, 0.1019607843);
    transition: border-color 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 140px;

    &:hover{
        border-color: #D4EBC6;
        background-color: #F1F9EC;
    }
}
.achievementScreen-content .UpperDiv {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    gap: 20px;
    &.achievementScreen{
        height: 180px;
        width: 100%;
        .bigStarLeft1{
            position: absolute;
            left: -70px;
            top: 90px;
            transform: rotate(45deg);
        }
        .bigStarLeft2{
            position: absolute;
            top: -20px;
            left: 90px;
            transform: rotate(45deg);
        }
        .smallStarLeft1{
            position: absolute;
            top: 80px;
            left: 310px;
            transform: rotate(45deg);
        }
        .goggles{
            position: absolute;
            top: -62px; 
        }
        .smallStarRight1{
            position: absolute;
            top: -40px;
            left: 620px;
            transform: rotate(-45deg);
        }
        .smallStarRight2{
            position: absolute;
            top: -10px;
            left: 790px;
            transform: rotate(60deg);
        }
        .bigStarRight1{
            position: absolute;
            top: 130px;
            left: 780px;
            transform: rotate(45deg);
        }
    }
}
.achievementScreen-content .lessonTitle {
    display: block;
    font-size: 70px;
    color: #FFFFFF;
    // max-width: 600px;
    text-align: center;
    font-family: var(--AbdoLineBold);
    //font-weight: bold;
}
.achievementScreen-content .lessonSubTitle {
    display: block;
    font-size: 60px;
    color: #FFB333;
    text-align: center;
    font-family: var(--AbdoLineBold);
}

.achievementScreen-content .smallStarLeft{
    position: absolute;
    top: 56px;
    left: -31px;
}
.achievementScreen-content .smallStarRight{
    position: absolute;
    top: 56px;
    left: 215px;
}
.achievementScreen-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 532px;
    margin-top: 82px;
}
.teamImageMainDiv img {
    height: auto;
    width: 243px;
}
.achievementScreen-content-titles{
    display: flex;
    gap: 28px;
    flex-direction: column;
    min-height: 108px;
}
.explanation-screen .startLessonBtnHolder {
    position: absolute;
    bottom: 25px;
    left: 35px;
}