    #Main_Slide-11  .dnd-game-container_avatar01, #Main_Slide-11  .dnd-game-container_avatar02
 {
    background-image: url(../images/Mission02_question1_thumbnail.png);
}
   
   .dnd-content {
    height: 100%;
    display: flex;
    justify-content: center; 
    } 
    .dnd-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
        z-index: 1;
    }
    .dropTextHolder{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #00495e;

        .drop-text-inline{
            .droppable-inline:has(.dropped-item) {
                background-color: #e5f7fd;
                border: 3px solid #00b7ec;
            }   
            .droppable-inline {
                width: 184px;
                height: 64px;
                margin: 0 10px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 12px;
                background-color: #fafbff;
                padding: 8px;

                &.drop-border {
                    // background-color: #FFFFFF;
                    // border: 4px solid #047fff;
                    >div{
                        border: 2px dashed #485465;
                    }
                }
                &.correct{
                    background-color: #D4EBC6 !important;
                    border: 3px solid #70BF42 !important;
                    color: #2D4C1A !important;
                }
                &.incorrect{
                    background-color: #FFE2B2 !important;
                    border: 3px solid #FFA000 !important;
                    animation: tilt-shake 1s ease-in-out 1;
                    color: #665410 !important;
                }
                > div{
                        border-radius: 8px;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        width: 100%;
                        height: 54px;
                }
                .dropped-item{
                    pointer-events: auto;
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                    border-radius: 8px;
                    padding-bottom: 0;
                    // background-color: #ffffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 38px;
                    position: relative;
                    .symbolHolder{
                        position: absolute;
                        top: 20px;
                        right: 1px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &.correct .dropped-item{
                     background-color: #D4EBC6;
                    // border: 3px solid #70BF42;
                    color: #2D4C1A;
                }
                &.incorrect .dropped-item{
                     background-color: #FFE2B2;
                    // border: 3px solid #FFA000;
                    //animation: tilt-shake 1s ease-in-out 1;
                    color: #665410;
                }
            }
        }
    }

.dnd-lowerdiv {
    height: 38%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center;
}

.droppable {
  pointer-events: auto;
}

.droppablesContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.draggablesContainer{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
    justify-content: space-between;
    row-gap: 20px;
}
.draggableItem{
    border: 1px solid black;
    width: 80px;
    height: 50px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.draggableItem img{
    height: 100%;
    width: auto;
}
.my-droppable-box {
    background-color: rgb(248, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #787D80;
    // cursor: pointer;
    /* width: 100%; */
    height: 106px;
    overflow: hidden;
    // padding: 6px;
    text-align: center;
    border-radius: 25px;
}
.my-droppable-box>div {
    height: 100%;
}
.draggable-item {
    width: 184px;
    height: 65px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: #00495e;
    font-family: var(--AbdoLineRegular);
    font-size: 40px;
    background-color: #e5f7fd !important;
    position: relative;
    /* padding: 6px 0; */
    border: 3px solid #00b7ec;
    cursor: grab;
    padding-bottom: 5px;
        &.disabled{
        pointer-events: none;
    }
}


.drop-text-inline {
    line-height: 85px;
}
.draggable-container {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 74px;
    gap: 40px;
}
.draggable-item.item_used {
    opacity: 0;
    pointer-events: none;
    // transition: opacity 0.1s ease;
}
.dnd-container .splashScreen-container{
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    .splashScreen-content-titles{
      height: 500px;
    }
}

@keyframes tilt-shake {
    0% {
        transform: rotate(0)
    }

    20% {
        transform: rotate(-6deg)
    }

    40% {
        transform: rotate(6deg)
    }

    60% {
        transform: rotate(-6deg)
    }

    80% {
        transform: rotate(6deg)
    }

    to {
        transform: rotate(0)
    }
}


.text-row{

    padding:0px 36px 0px 36px;
        min-height: 623px;
}

.character-lighting-container{
    position: absolute;
    bottom: 30px;
    right: 120px;
    width: 250px;
    height: 457px;
}


.lightingHolder{
    width: 147px;
    height: 62px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    bottom: 20px;
    right: 110px;
  }

.characterLightingEffect{
    bottom: 65px;
    right: 134px;
    z-index: 111;
    position: absolute;
    transform: translateX(-50%);
    width: 109px;
    height: 94px;
  }

.character_animation{
  width: 100%;
  height: 100%;
}
span.hl {
  padding: 0px 5px;
  border-radius: 4px;
  transition: all 0.25s ease;
  border: 2px solid transparent;
}

span.hl.active {
    
    font-family: var(--AbdoLineBold);
    border-radius: 10px;
    padding: 0px 5px;
    &.green{
      background: #e5f8f0;
      color: #004a2a;
      border: 2px solid #00B96A;
    }
    &.yellow{
      background: #FFF5E5;
      color: #664000;
      border: 2px solid #FFA000;
    }
}
.round-progress {
    display: flex;
    justify-content: center;
    width: 667px;
    height: 80px;
    background-color: #d4ebc6;
    border-radius: 20px;
    border: 3px solid #70bf42;
    align-content: center;
    align-items: center;
    position: absolute;
    bottom: 208px;
    right: 119px;
}

.round-dot {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background: #adc2a1;
    color: white;
    font-size: 35px;
    align-items: center;
    font-family: var(--SignikaSemiBold);
  &.completed {
    background: #2d4c1a;

  }

  &.active {
    background: #2d4c1a;
  }
}
.round-line {
  width: 85px;
  height: 6px;
  border-radius: 3px;
  background: #adc2a1;
  transition: background 0.5s ease;

  &.completed {
    background: #2d4c1a;
  }
}
.text-col {
    height: 100%;
    color: #FFFFFF;
    font-family: var(--AbdoLineRegular);
    font-size: 40px;
    display: flex;
    flex-direction: column;
}
.dnd-wrapper .mainQuestionHolderDiv {
margin: 30px 0 !important;
}
.dnd-game-container{
    background: #fff;
    width: 870px;
    min-height: 695px;
    position: absolute;
    top: 168px;
    left: 176px;
    border-radius: 20px;
    box-shadow: 0px 6px 14px rgba(72, 84, 101, 0.15);   
    .feedback-container button.btn.btn-primary.btn-sm[data-value=tryagain] {
        background-color: #FFE2B2;
        border: 5px solid #FFA000;
        border-radius: 15px;
        color: #664000;
        font-size: 42px;
        padding: 0;
        width: 263px;
        height: 72px;
    }
    .feedback-container .btnContainer {
        position: absolute;
        left: 30px;
        bottom: 17px;
    }
    .feedback-container button.btn.btn-primary.btn-sm {
        font-family: var(--AbdoLineBold);
        color: #2D4C1A;
        font-size: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #D4EBC6;
        border-radius: 50px;
        border: 5px solid #70bf42;
        height: 72px;
        width: 157px;
        padding-bottom: 10px;
        cursor: pointer;
        transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out, border 0.4s ease-in-out, border-radius 0.4s ease-in-out;
    }

    tr {
        display: flex;
    }
    td {
        display: flex;
        padding: 0px 12px;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 50px;
    }
    .mainQuestionHolder {
        width: 100%;
        min-height: 115px;
        position: absolute;
        right: 0px;
        top: 0px;
        display: flex;
        align-items: center;
        padding: 20px 50px;
        justify-content: flex-start;
        background-color: transparent;
        border-radius: 40px;
        font-family: var(--AbdoLineRegular);
        color: #000;
        direction: rtl;
        font-size: 42px;
        padding-right: 133px;
    }

    .dotAndLine {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }   

    .tickSign {
        position: relative;
        width: 65px;
        height: 65px;
    }   
    .droppable-inline.incorrect .tickSign::before {
         content: "";
        position: absolute;
        left: 21px;
        top: 12px;
        width: 21px;
        height: 39px;
         border: solid #664000;
          border-width: 0 8px 8px 0;
        transform: rotate(45deg);
    }

    .tickSign::before {
        content: "";
        position: absolute;
        left: 21px;
        top: 12px;
        width: 21px;
        height: 39px;
        border: solid #70bf42;
        border-width: 0 8px 8px 0;
        transform: rotate(45deg);
    }
}
#Main_Slide-14 .draggable-item.draggable-item {
    width: 65px;
    height: 65px;
}
   .dnd-wrapper  .startLessonBtnHolder {
 position: absolute;
    left: 45px;
    bottom: 22px;
}
  .dnd-wrapper  button.startLessonBtn {
    border: 5px solid #70BF42;
    border-radius: 36px;
    background-color: #D4EBC6;
    height: 78px;
    width: 157px;
    color: #2D4C1A;
    font-size: 45px;
    /* padding: 5px 65px 0 65px; */
    font-family: var(--AbdoLineBold);
    box-shadow: 0 4px rgba(72, 84, 101, 0.1019607843);
    transition: border-color 0.25s;
    line-height: 14px;
    &:hover{
        border-color: #D4EBC6;
        background-color: #F1F9EC;
    }
}
#Main_Slide-14 .symbolHolder {
    display: none !important;
}

#Main_Slide-14 .dnd-game-container {
    width: 980px;
    bottom: 60px;
    left: 110px;
}
#Main_Slide-14 .dropTextHolder .drop-text-inline .droppable-inline {
    width: 65px;
    height: 65px;
    border: 1px solid #bfbfbf;
    padding: 4px;
    &:has(.dropped-item) {
        background-color: #e5f7fd ;
        border: 3px solid #00b7ec;
    }
}
// #Main_Slide-14  .round-progress {
//     bottom: 204px;
// }

.dnd-game-container .explanation-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 88px;
}
#Main_Slide-14{
    .mc-game-container {
        width: 940px;
        min-height: 695px;
    }
    .mainQuestionHolderDiv {
        margin-bottom: 160px;
    }
.subquestionText {
    justify-content: center;
    border: 3px solid #e5ccef;
    border-radius: 10px;
    width: 560px;
    height: 76px;
    background-color: #f2e5f7;
    display: flex;
    color: #452b74;
}
.subquestionTextHolder {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 76px;
    padding-left: 80px;
    margin-top: 8px;
}
.mc-option {
    width: 509px;
}
.round-progress {
    bottom: 78px;
    width: 487px;
        right: 228px;
}
.mc-game-container .feedback-container-holder {
    height: 131px;
}
}